_format_version: "2.1"
_transform: true

services:
{% for service in [
  {"name": "sonarr", "port": 8989},
  {"name": "radarr", "port": 7878},
  {"name": "lidarr", "port": 8686},
  {"name": "readarr", "port": 8787},
  {"name": "bazarr", "port": 6767},
  {"name": "pihole", "port": 7080},
  {"name": "plex", "port": 32400},
  {"name": "syncthing", "port": 8384},
  {"name": "duplicacy", "port": 3875},
  {"name": "grafana", "port": 3000},
  {"name": "prometheus", "port": 9090},
  {"name": "zigbee2mqtt", "port": 8080},
  {"name": "actual", "port": 5006},
  {"name": "paperless", "port": 8000},
] %}
- name: {{ service.name }}
  host: {{ service.name }}
  port: {{ service.port }}
  routes:
  - name: {{ service.name }}
    hosts:
    - {{ service.name }}.{{ ant_domain }}
    paths:
    - /
  plugins:
  - name: basic-auth
    enabled: true
    config:
      hide_credentials: true
{% endfor %}
- name: nzbget
  host: nzbget
  port: 6789
  routes:
  - name: nzbget
    hosts:
    - nzbget.{{ ant_domain }}
    paths:
    - /
  plugins:
  - name: basic-auth
    enabled: true
    config:
      hide_credentials: true
  - name: request-transformer
    config:
      add:
        headers:
        - 'Authorization:Basic bnpiZ2V0OnRlZ2J6bjY3ODk='
- name: antui
  host: antui
  port: 80
  routes:
  - name: antui
    hosts:
    - {{ ant_domain }}
    paths:
    - /
  plugins:
  - name: basic-auth
    enabled: true
    config:
      hide_credentials: true
- name: homeassistant
  host: homeassistant
  port: 8123
  routes:
  - name: homeassistant
    hosts:
    - homeassistant.{{ ant_domain }}
    paths:
    - /
- name: spotify-exporter
  host: spotify-exporter
  port: 8888
  routes:
  - name: spotify-exporter
    hosts:
    - {{ spotify_exporter_domain }}
    paths:
    - /
- name: paperless-apikey
  host: paperless
  port: 8000
  routes:
  - name: paperless-apikey
    hosts:
    - paperless-apikey.{{ ant_domain }}
    paths:
    - /
  plugins:
  - name: key-auth
    enabled: true
consumers:
- username: jakub
  basicauth_credentials:
  - username: jakub
    password: '{{ kong_basic_auth_password }}'
keyauth_credentials:
- consumer: jakub-apikey
  key: '{{ kong_api_key }}'